.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 6rem 1rem;
  min-height: 100vh;
}

.divWallet {
  display: flex;
  gap: .5rem;
}

button.wallet {
  padding: .5rem .5rem;
  border: 1px solid #cccd;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: .2s ease-in;
}

.wallet:hover {
  border: 1px solid #ccc;
  background: transparent;
  color: #ccc;
  font-weight: bold;
}